BOT_TOKEN=8766965462:AAGKPuyRD8l0SZ-y7AeT7IqwvpW_xl9GNJ4
DB_HOST=localhost
DB_NAME=real_estate
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
STORAGE_BOT_TOKEN=8035564986:AAHes-bLSiRTUneh8z2mpu5K-4r13vNmXrc
STORAGE_CHAT_ID=7572451975